* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(255, 255, 255) !important;
}
.navbar-brand img {
  width: 170px;
  height: 50px;
}
.submit {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 50px;
}
.footer {
  height: 80px;
  background: lightskyblue;
  margin-top: 50px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: lightskyblue;
}
.temp {
  width: 800px;
  margin: auto !important;
  outline: none !important;
}
.temp2 {
  outline: none !important;
  box-shadow: 0 0 3px rgb(122, 186, 206) !important;
  margin-bottom: 30px !important;
}
.navsecondpart {
  margin-left: auto;
  margin-right: 20px;
  font-size: x-large;
  width: 40px;
  text-align: center;
}
.navsecondpart:hover {
  cursor: pointer;
}
.hamicon {
  margin: 15px !important;
}
.hamicon:hover {
  cursor: pointer;
}
.hamicon .line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
}
.logo {
  height: 50px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  padding-left: 30px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -400px;
  padding-top: 30px;
  z-index: 20;
  overflow: scroll !important;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  overflow-x: hidden !important;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168);
  border-radius: 15px;
}
.sidebar .sidebarelement:not(.sidebarelement:nth-child(1)) {
  margin-top: 20px !important;
}

.sidebarelement h2 {
  font-size: 25px;
}
.heading {
  text-align: center;
  margin-top: 30px;
}
.submit {
  margin-left: 50%;
}
.dropdown-menu {
  width: 300px !important;
}
.ellipsismenu {
  width: 200px;
  background: white;
  box-shadow: 0 0 10px rgb(56, 55, 55);
  padding: 20px;
  position: absolute;
  top: 85px;
  right: 20px;
  z-index: 100;
  font-size: medium !important;
  display: none;
}

#editorwrapper {
  width: 800px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0 3px rgb(122, 186, 206);
}
.CodeMirror,
.CodeMirror-scroll {
  min-height: 200px;
}

.select {
  width: 800px !important;
  outline: none !important;
  margin: auto;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  background: white !important;
  padding: 10px !important;
  box-shadow: 0 0 3px rgb(122, 186, 206);
}
.select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.notification-temp {
  width: 150px;
  height: 50px;
  padding: 8px;
  background: rgb(54, 187, 192);
  margin: auto;
  border-radius: 5px 5px 0 5px;
  position: fixed;
  right: 10px;
  top: 100px;
  display: hidden;
}
