* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: lightskyblue;
}
.navsecondpart {
  margin-left: auto;
  margin-right: 20px;
  font-size: x-large;
}
.hamicon {
  margin: 15px !important;
}
.hamicon:hover {
  cursor: pointer;
}
.hamicon .line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
}
.logo {
  height: 50px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 100vh;
  padding-left: 30px;
  background-color: rgb(181, 183, 185);
  overflow: scroll;
  position: absolute;
  left: -400px;
  padding-top: 30px;
}
.sidebarelement {
  margin-top: 10px;
}
.sidebarelement h2 {
  font-size: 25px;
}
.heading {
  text-align: center;
  margin-top: 30px;
}
.selectsite,
.selectsortby {
  width: 300px !important;
  font-size: large !important;
  padding: 10px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid black !important;
}
.selectsite:focus,
.selectsortby:focus {
  outline: none !important;
  box-shadow: none !important;
}
.firstline,
.secondline {
  display: flex;
  justify-content: space-around;
  margin: 80px 0px;
}
.problemname,
.searchsitetags {
  width: 300px !important;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
.searchbutton {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: rgb(0, 148, 153);
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.5s;
}
.searchbutton:hover {
  transform: scale(1.1);
}
.selectsite {
  background: white !important;
  color: black !important;
  text-align: left !important;
}
.dropdown-menu {
  width: 300px !important;
}
.ellipsismenu {
  width: 200px;
  background: white;
  box-shadow: 0 0 10px rgb(56, 55, 55);
  padding: 20px;
  position: absolute;
  top: 85px;
  right: 20px;
  z-index: 100;
  font-size: medium !important;
  display: none;
}
