* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.submit {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 50px;
}
.footer {
  height: 80px;
  background: lightskyblue;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: lightskyblue;
}
.navsecondpart {
  margin-left: auto;
  margin-right: 20px;
  font-size: x-large;
}
.hamicon {
  margin: 15px !important;
}
.hamicon:hover {
  cursor: pointer;
}
.hamicon .line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
}
.logo {
  height: 50px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 100vh;
  padding-left: 30px;
  background-color: rgb(181, 183, 185);
  overflow: scroll;
  position: absolute;
  left: -400px;
  padding-top: 30px;
  z-index: 20;
}
.sidebarelement {
  margin-top: 10px;
}
.sidebarelement h2 {
  font-size: 25px;
}
.heading {
  text-align: center;
  margin-top: 30px;
}

.dropdown-menu {
  width: 300px !important;
}
.ellipsismenu {
  width: 200px;
  background: white;
  box-shadow: 0 0 10px rgb(56, 55, 55);
  padding: 20px;
  position: absolute;
  top: 85px;
  right: 20px;
  z-index: 100;
  font-size: medium !important;
  display: none;
}
.input-field {
  margin: auto;
  margin-top: 50px !important;
}
